<div class="calc-box" *ngIf="!mobileView">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon class="calc-icon" name="calculator"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="font-family-bold global-font-13">{{'paymentCalculator.monthly_payment' | translate}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <span class="font-family-regular global-font-10">{{'paymentCalculator.selecting_offer_and_calculating' | translate}}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="input-box">
            <ion-item>
              <ion-label>$</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-button style="--background:gray" class="font-family-bold global-font-13">{{'paymentCalculator.calculate' | translate}}</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="mobileView" class="calc-box-mobile-view">
    <ion-grid  class="p-0">
      <ion-row  class="p-0">
        <ion-col size="8"  class="p-0">
          <ion-row  class="p-0">
              <ion-col size="2"  class="p-0"> <ion-icon class="calc-icon" style="font-size:32px;color:gray" name="calculator"></ion-icon> </ion-col>
              <ion-col size="10"  class="p-0">
                <ion-row  class="p-0">
                  <ion-col  class="p-0">
                    <span class="font-family-bold global-font-13">{{'paymentCalculator.monthly_payment' | translate}}</span>
                  </ion-col>
                </ion-row>
                <ion-row  class="p-0" style="padding-top: 10px;">
                  <ion-col  class="p-0">
                    <span class="font-family-regular global-font-10">{{'paymentCalculator.selecting_offer_and_calculating' | translate}}</span>
                  </ion-col>
                </ion-row>
              </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4"  class="p-0" style="padding-left: 10px;">
          <ion-row  class="p-0">
            <ion-col  class="p-0">
                <!-- <ion-item>
                  <ion-label>$</ion-label>
                  <ion-input></ion-input>
                </ion-item> -->
                <div class="input-box">
                  <ion-item>
                    <ion-label>$</ion-label>
                    <ion-input class="p-0"></ion-input>
                  </ion-item>
                </div>
            </ion-col>
          </ion-row>
          <ion-row  class="p-0">
            <ion-col  class="p-0">
              <ion-button style="--background:gray" class="font-family-bold global-font-13">{{'paymentCalculator.calculate' | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
